*
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}

body {
  background: url('../public/photographe.svg') no-repeat;
  background-size: 90%;
  background-position: left 10%;
  background-color: black;
}

h1 {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 868px) {
  body {
    background: url('../public/photographe.svg') no-repeat;
    background-size: 170%;
    background-position: right 10% top -20%;
    background-color: black;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
